<!doctype html>
<html>
  <head>
    <title>TuneLink</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <style>
    .next-img {
      max-width: 50px;
    }
    .white-table {
      color: #fff !important;
      font-size: 18px;
    }
    </style>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-database.js"></script>


  </head>

  <body class="black">

    <div class="container">
      <div id="name" class="row">
        <h4 class="white-text">{{{name}}}</h4>
      </div>
      <div id="now-playing" class="card">
        <h4 class="white-text">Now Playing</h4><br/>
        <div class="song-details row">
          <div class="col s6">
            <img src="{{{img}}}" width="80%" id="songImg"/>
          </div>
          <div class="col s6">
            <span class="thick" id="songName">{{{song}}}</span><br/><span class="normal" id="artistName">{{{artist}}}</span>
          </div>
        </div>
      </div>
      <div id="up-next" class="card">
        <h4 class="white-text">Up Next</h4><br/>
        <div id="upnext"></div>
      </div>
      <div id="add-song" class="input-field">
        <div>
          <input type="text">
        </div>
        <div class="btn"><span>Add</span></div>
      </div>

      <button class="btn btn-default" id="obtain-new-token">Obtain new token using the refresh token</button>
    </div>

    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyA0_mdwrZcBaH8lCGhj3jjxgJD8VmoQAiE",
        authDomain: "tunelink-e22a0.firebaseapp.com",
        databaseURL: "https://tunelink-e22a0.firebaseio.com",
        projectId: "tunelink-e22a0",
        storageBucket: "tunelink-e22a0.appspot.com",
        messagingSenderId: "31953235674"
      };
      firebase.initializeApp(config);
      var ref = firebase.database().ref("songs");
      ref.once('value', function(snapshot) {
        var text = "<table class='white-table'>";
        snapshot.forEach(function(element) {
          if(element.val().active == 0) {
            console.log(element.val());
            text += "<tr><td><img src='" + element.val().img + "' class='next-img'></td><td>"+element.val().songname + " - " + element.val().artists + "</td></tr>";
          }
        });
        text += "</table>";
        $("#upnext").html(text);
      });
      ref.on('value', function(snapshot) {
        $("#upnext").html("");
        snapshot.forEach(function(element) {
          if(element.val().active == 0) {
            var text = "<table class='white-table'>";
            snapshot.forEach(function(element) {
              if(element.val().active == 0) {
                console.log(element.val());
                text += "<tr><td><img src='" + element.val().img + "' class='next-img'></td><td>"+element.val().songname + " - " + element.val().artists + "</td></tr>";
              }
            });
            text += "</table>";
            $("#upnext").html(text);
          }
          if(element.val().active == 1) {
            $("#songName").html(element.val().songname);
            $("#artistName").html(element.val().artists);
            $("#songImg").attr('src', element.val().img);
          }
        });
      });
    </script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </body>
</html>

