body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

.card-action {
	font-size: 150%;
	margin: auto;
}

.card-image {
	padding: 20px;
}

p {
	font-size: 2.5em;
	font-family: 'Raleway', sans-serif;
	color: #fff;
}

#now-playing{
	padding: 10px;
	text-align: center;
}